img {
 text-align: center;
  background-color: white;
  max-width: 300px; 
  max-height: 400px;
  min-width: 300px;
  min-height: 400px;
}

.info {
	height: 10px;
	transform: scale(.8, 1);
}

.center {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
